$color-primary: #F1CDB3;

$color-primary-ligth: #FDDCC4;

$color-nav-menu: #CDCDCD;
$color-active-menu: #FAFAFA;



$color-dark-l : #545454;
$color-dark-3xl : #292929;
$color-light-xl : #FFFFFF;
$color-dark-s : #CDCDCD;


//titles
$h3-color-title:#545454;
$h3-font-size: 3.5rem;


//text
$color-sections-text: #4C4C4C;
$sections-font-size: 1.5rem;


//buttons
$font-size-button: 1.7rem;
$color-button-text: #292929;